@model System.Collections.Generic.IEnumerable<Note>
@{
    ViewData["Title"] = "Notes";
}

<h1 class="title">Notes</h1>

<table class="table is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Sequence</th>
            <th>Tags</th>
            <th>Accesses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
        <tr>
            <td><a asp-action="Details" asp-route-id="@note.Id">@note.Title</a></td>
            <td>@note.Category</td>
            <td>@note.Sequence</td>
            <td>@string.Join(',', note.Tags)</td>
            <td>@note.AccessCount</td>
            <td>
                <div class="field has-addons">
                    <a class="button is-small is-link is-outlined" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@note.Id">
                        <input class="button is-small is-danger is-outlined" type="submit" value="Delete" />
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>