@model System.Collections.Generic.IEnumerable<Note>
@{
    ViewData["Title"] = string.IsNullOrWhiteSpace((string)ViewData["search"]) ? "Index" : $"Search: {ViewData["search"]}";
    var nextSortDir = 1;
    if (null == ViewData["sortDir"] || (int)ViewData["sortDir"] == 1)
    {
        nextSortDir = -1;
    }
}

<h1 class="title">Notes</h1>

<form method="get">
    <input class="input" type="text" placeholder="Search..." value="@ViewData["search"]" name="search" />
    <input class="button is-link" type="submit" value="Go" />
    <a class="button" asp-action="Index">Clear</a>
</form>

<table class="table is-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortBy="title" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="category" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">Category</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="sequence" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">Sequence</a>
            </th>
            <th>Tags</th>
            <th>
                <a asp-action="Index" asp-route-sortBy="accessCount" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">Accesses</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="createdAt" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">CreatedAt</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="accessedAt" asp-route-search="@ViewData["search"]" asp-route-sortDir="@nextSortDir">Last Access</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
        // TODO: Buttons need to replace spaces with hyphens
        <tr>
            <td><a asp-action="Details" asp-route-id="@note.Id">@note.Title</a></td>
            <td>
                <a asp-action="Index" asp-route-search="category:@note.Category">@note.Category</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-search="sequence:@note.Sequence">@note.Sequence</a>
            </td>
            <td>
                @foreach (var tag in note.Tags)
                {
                    <a class="button is-link is-small" asp-action="Index" asp-route-search="tag:@tag">@tag</a>
                }
            <td>@note.AccessCount</td>
            <td>@note.CreatedAt</td>
            <td>@note.AccessedAt</td>
            <td>
                <div class="field has-addons">
                    <a class="button is-small is-link is-outlined" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                    <form method="post" asp-action="Delete" asp-route-id="@note.Id">
                        <input class="button is-small is-danger is-outlined" type="submit" value="Delete" />
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>